* {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

html[lang="fa"] #docs,
html[lang="fa"] #instructions,
html[lang="fa"] #credits .translate,
a[href="#fa"],
html[lang="he"] #docs,
html[lang="he"] #instructions,
html[lang="he"] #credits .translate,
a[href="#he"] {
    direction: rtl;
}

html[lang="fa"] #docs,
html[lang="fa"] #instructions,
html[lang="fa"] #credits .translate,
a[href="#fa"] {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

body {
    display: flex;
    min-width: 600px;
    margin: 0;
    background: url("https://cdn.dribbble.com/users/187401/screenshots/3504824/space_illustration.jpg");
    color: rgba(255, 255, 255, 0.7);
    font-family: 'PT Sans', sans-serif;
    -webkit-background-size: cover;
    background-size: cover;
}

#sidebar {
    width: 60%;
    min-width: 300px;
    padding: 40px;
    background: rgba(65, 109, 114, 0.34);
    font-size: 15px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    margin-top: -0.5rem;
    justify-content: space-between;
}

.title {
    margin: 0.5rem 0 0;
    text-transform: uppercase;
    font-family: 'Fredoka One', cursive;
    font-size: 28px;
}

pre {
    margin: 0;
}

code {
    padding: 0 2px;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.8);
    white-space: nowrap;
}

li {
    line-height: 1.5;
    white-space: pre;
}

a {
    color: rgba(255, 255, 255, 0.7);
}

a:hover {
    color: #fff;
}

.help {
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.tooltip {
    position: absolute;
    display: inline-block;
    max-width: 225px;
    padding: 10px;
    background-color: #2c3e50;
    border-radius: 4px;
    font-size: 15px;
    line-height: 1.5;
    z-index: 60;
}

.tooltip:after {
    content: '';
    position: absolute;
    top: -12px;
    left: 12px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #2c3e50;
}

#share {
    display: none;
    margin-bottom: 3em;
    text-align: center;
}

.fb-like {
    z-index: 20;
    vertical-align: top;
}

.next {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 1em;
    text-decoration: none;
    background-size: cover;
}

.next div {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.next button {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    text-transform: uppercase;
}

.next button:hover {
    color: rgba(255, 255, 255, 1);
}

.next.gridgarden {
    background-image: url('../images/next-gridgarden.png');
}

.next.gridgarden button {
    background-color: #DB9322;
}

.next.gridgarden button:hover {
    background-color: #F5A628;
}

.next.treehouse {
    background-image: url('../images/next-treehouse.png');
}

.next.treehouse button {
    background-color: #AE7347;
}

.next.treehouse button:hover {
    background-color: #C88551;
}

#instructions {
    padding-top: 10px;
    font-size: 16px;
}

#instructions,
#instructions p,
#instructions ul {
    /* helps prevent the difficulty animation from jumping */
    margin: 0;
    padding-bottom: 10px;
}

#editor {
    position: relative;
}

#editor,
pre {
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    line-height: 1.5;
    color: #aaa;
}

#css {
    position: relative;
    padding: 10px 10px 74px 40px;
    background-color: #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.line-numbers {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 6px 6px;
    text-align: right;
    background-color: #999;
    color: #D5D5D5;
    font-size: 25px;
}

#code {
    display: block;
    width: calc(100% - 16px);
    height: 24px;
    margin-left: 16px;
    border: none;
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    outline: none;
    resize: none;
    overflow: auto;
}

#level-counter {
    position: relative;
    display: inline-block;
    height: 30px;
    margin-top: 0.5rem;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#levelsWrapper {
    display: none;
    top: 30px;
    right: 31px;
    max-width: 160px;
    padding: 1em 0.5em;
    margin-top: 12px;
    z-index: 80;
}

#levelsWrapper:after {
    left: calc(50% - 12px);
}

#levels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.level-marker {
    float: left;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 2px;
    line-height: 26px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.level-marker.current,
.level-marker:hover {
    border-color: rgba(255, 255, 255, 0.5);
}

.level-marker.solved {
    background-color: #097f2c;
}

#level-indicator,
.arrow {
    float: left;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.2);
}

#level-indicator {
    display: inline-block;
    width: 160px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

#labelLevel {
    margin-left: 5px;
}

.caret {
    display: inline-block;
    margin-left: 2px;
}

#level-indicator:hover,
.arrow:not(.disabled):hover {
    background-color: rgba(255, 255, 255, 0.4);
}

#labelReset {
    margin-top: 1em;
    text-align: center;
    cursor: pointer;
}

.arrow {
    display: inline-block;
    font-family: 'Comic Sans MS';
    padding: 0.25em 0.4em 0.2em;
    cursor: pointer;
}

.arrow.left {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px 0 0 4px;
}

.arrow.right {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0 4px 4px 0;
}

.arrow.left:not(.disabled):hover,
.arrow.right:not(.disabled):hover {
    border-color: transparent;
}

.arrow.disabled {
    opacity: 0.5;
}

button {
    display: inline-block;
    padding: 0.4em 0.8em;
    background-color: #D11606;
    border: none;
    border-radius: 4px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    appearance: none;
}

button:active {
    outline: none;
}

button:not(.disabled):hover {
    background-color: #F12D22;
}

#next {
    position: absolute;
    right: 1em;
    bottom: 1em;
}

#next.disabled {
    opacity: 0.5;
}

.credits {
    margin-top: 1.5em;
    line-height: 1.5em;
    text-align: center;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
}

#settings {
    position: relative;
}

.toggle {
    display: inline-block;
    padding: 1px 8px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    user-select: none;
}

#settings .tooltip {
    display: none;
    bottom: 30px;
    left: 0px;
    width: 275px;
    max-width: 275px;
    padding: 1em;
    text-align: left;
    z-index: 80;
}

#settings .tooltip:after {
    top: auto;
    bottom: -12px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #2c3e50;
    border-bottom: none;
}

#settings section {
    margin: 0.5rem 0;
}

#settings h4 {
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
}

#view {
    width: 40%;
    min-width: 300px;
    background-color: #2c3e50;
    height: 100vh;
    padding-left: 40px;
    padding-top: 40px;
}


#pond,
#background {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
}

#background {
    z-index: 10;
    border-radius: 0 0 0 10px;
    background-color: #1F5768;
}

#pond {
    z-index: 20;
}

.lilypad,
.frog {
    position: relative;
    width: 20%;
    height: 20%;
    overflow: hidden;
}

.frog.bounceOutUp {
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -ms-animation-delay: .6s;
    animation-delay: .6s;
}

.frog .bg.bounce {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    animation-duration: 2s;
}

.frog.yellow .bg.bounce {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -ms-animation-delay: .3s;
    animation-delay: .3s;
}

.frog.red .bg.bounce {
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -ms-animation-delay: .6s;
    animation-delay: .6s;
}

.lilypad .bg,
.frog .bg {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.frog .bg {
    background-size: 60% 60%;
}

.rocket .bg {
    background-image: url("../images/rocket.svg");
    width: 100px;
    height: 100px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.rocket-pink .bg{
    margin-top: 40px;
    background-image: url("../images/rocket-pink.svg") !important;
}
.rocket-dark .bg{
    margin-top: 40px;
    background-image: url("../images/rocket-dark.svg") !important;
}

.rocket {
    height: 100%;
}

.mult-rocket .rocket{
    height: auto;
}
#rocket, #rocket-pink, #rocket-dark {
    position: relative;
}

.tada-success {
    -webkit-animation-name: tada;
    animation-name: tada;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: 2;
}

@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.planets .bg {
    background-image: url("../images/planets.svg");
    width: 150px;
    height: 150px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.planets {
    height: 150px;
    position: absolute;
    bottom: 48px;
    right: 33px;
}

.lilypad.green .bg {
    background-image: url("../images/lilypad-green.svg");
}

.lilypad.green.cb-friendly .bg {
    background-image: url("../images/lilypad-green-color-assist.svg");
}

.lilypad.red .bg {
    background-image: url("../images/lilypad-red.svg");
}

.lilypad.red.cb-friendly .bg {
    background-image: url("../images/lilypad-red-color-assist.svg");
}

.lilypad.yellow .bg {
    background-image: url("../images/lilypad-yellow.svg");
}

.lilypad.yellow.cb-friendly .bg {
    background-image: url("../images/lilypad-yellow-color-assist.svg");
}

.frog.green .bg {
    background-image: url("../images/frog-green.svg");
}

.frog.green.cb-friendly .bg {
    background-image: url("../images/frog-green-color-assist.svg");
}

.frog.red .bg {
    background-image: url("../images/frog-red.svg");
}

.frog.red.cb-friendly .bg {
    background-image: url("../images/frog-red-color-assist.svg");
}

.frog.yellow .bg {
    background-image: url("../images/frog-yellow.svg");
}

.frog.yellow.cb-friendly .bg {
    background-image: url("../images/frog-yellow-color-assist.svg");
}

.wrap {
    flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {

    body,
    #sidebar {
        font-size: 13px;
    }

    .title {
        font-size: 26px;
    }
}

/* Native by BuySellAds */
.native-ad {
    visibility: hidden;
    transition: all .25s ease-in-out;
    opacity: 0;
}

.native-show {
    visibility: visible;
    opacity: 1;
}

.native-ad {
    display: block;
    padding: 10px 20px 8px;
    border-radius: 4px;
    background: repeating-linear-gradient(-45deg, transparent, transparent 5px, hsla(0, 0%, 0%, .03) 5px, hsla(0, 0%, 0%, .03) 10px) hsla(0, 0%, 0%, .03);
    margin-top: 1.5em;
    font-size: 12px;
}

.native-ad a {
    text-decoration: none;
    display: block;
    line-height: 1.5;
}


.native-ad .sponsor {
    position: relative;
    top: -1px;
    padding: 3px 4px 2px;
    margin-right: 4px;
    border: solid 1px currentColor;
    border-radius: 2px;
    color: currentColor;
    content: "Sponsor";
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1;
}

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#sortable li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 18px;
    line-height: 20px;
    min-height: 30px;
}

.ui-state-highlight {
    line-height: 20px;
    height: 30px;
}

.abs {
    position: absolute;
    top: 38%;
    left: 80%;
    font-size: 68px;
}

.rocket-forLoopAdvanced-animation {
    left: 43%;
    position: absolute;
    top: 36%;
    -webkit-animation: orbit2 4s linear infinite; /* Chrome, Safari 5 */
    -moz-animation: orbit2 4s linear infinite; /* Firefox 5-15 */
    -o-animation: orbit2 4s linear infinite; /* Opera 12+ */
    animation: orbit2 4s linear infinite;
    /* Chrome, Firefox 16+,
                                                        IE 10+, Safari 5 */
}

@-webkit-keyframes orbit2 {
    from {
        -webkit-transform: rotate(0deg) translateX(100px) rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg) translateX(100px) rotate(-360deg);
    }
}

@-moz-keyframes orbit2 {
    from {
        -moz-transform: rotate(0deg) translateX(100px) rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg) translateX(100px) rotate(-360deg);
    }
}

@-o-keyframes orbit2 {
    from {
        -o-transform: rotate(0deg) translateX(100px) rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg) translateX(100px) rotate(-360deg);
    }
}

@keyframes orbit2 {
    from {
        transform: rotate(0deg) translateX(100px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(100px) rotate(-360deg);
    }
}


.rocket-forLoopSimple-animation{
    animation: animationFrames ease 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: animationFrames ease 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation: animationFrames ease 1s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation: animationFrames ease 1s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation: animationFrames ease 1s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode:forwards; /*IE 10+*/
}


@keyframes animationFrames{
    0% {
        opacity:0;
        transform:  translate(1500px,0px)  ;
    }
    60% {
        opacity:1;
        transform:  translate(-30px,0px)  ;
    }
    80% {
        transform:  translate(10px,0px)  ;
    }
    100% {
        opacity:1;
        transform:  translate(0px,0px)  ;
    }
}

@-moz-keyframes animationFrames{
    0% {
        opacity:0;
        -moz-transform:  translate(1500px,0px)  ;
    }
    60% {
        opacity:1;
        -moz-transform:  translate(-30px,0px)  ;
    }
    80% {
        -moz-transform:  translate(10px,0px)  ;
    }
    100% {
        opacity:1;
        -moz-transform:  translate(0px,0px)  ;
    }
}

@-webkit-keyframes animationFrames {
    0% {
        opacity:0;
        -webkit-transform:  translate(1500px,0px)  ;
    }
    60% {
        opacity:1;
        -webkit-transform:  translate(-30px,0px)  ;
    }
    80% {
        -webkit-transform:  translate(10px,0px)  ;
    }
    100% {
        opacity:1;
        -webkit-transform:  translate(0px,0px)  ;
    }
}

@-o-keyframes animationFrames {
    0% {
        opacity:0;
        -o-transform:  translate(1500px,0px)  ;
    }
    60% {
        opacity:1;
        -o-transform:  translate(-30px,0px)  ;
    }
    80% {
        -o-transform:  translate(10px,0px)  ;
    }
    100% {
        opacity:1;
        -o-transform:  translate(0px,0px)  ;
    }
}

@-ms-keyframes animationFrames {
    0% {
        opacity:0;
        -ms-transform:  translate(1500px,0px)  ;
    }
    60% {
        opacity:1;
        -ms-transform:  translate(-30px,0px)  ;
    }
    80% {
        -ms-transform:  translate(10px,0px)  ;
    }
    100% {
        opacity:1;
        -ms-transform:  translate(0px,0px)  ;
    }
}

/*lightSpeedIn*/
.rocket-printSimple{
    top: calc(30% - 40px);
    left:  calc(50% - 40px);
    height: 170px !important;
    width: 170px !important;
}

.rocket-printSimple-text{
    position: absolute;
    top: 50%;
    text-align: center;
    font-size: 30px;
    animation: lightSpeedIn ease-out 0.8s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: lightSpeedIn ease-out 0.8s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation: lightSpeedIn ease-out 0.8s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation: lightSpeedIn ease-out 0.8s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation: lightSpeedIn ease-out 0.8s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes lightSpeedIn{
    0% {
        opacity:0;
        transform:  translate(300px,0px)  skewX(-30deg) ;
    }
    60% {
        opacity:1;
        transform:  translate(-40px,0px)  skewX(30deg) ;
    }
    80% {
        opacity:1;
        transform:  translate(0px,0px)  skewX(-15deg) ;
    }
    100% {
        opacity:1;
        transform:  translate(0px,0px)  skewX(0deg) ;
    }
}

@-moz-keyframes lightSpeedIn{
    0% {
        opacity:0;
        -moz-transform:  translate(300px,0px)  skewX(-30deg) ;
    }
    60% {
        opacity:1;
        -moz-transform:  translate(-40px,0px)  skewX(30deg) ;
    }
    80% {
        opacity:1;
        -moz-transform:  translate(0px,0px)  skewX(-15deg) ;
    }
    100% {
        opacity:1;
        -moz-transform:  translate(0px,0px)  skewX(0deg) ;
    }
}

@-webkit-keyframes lightSpeedIn {
    0% {
        opacity:0;
        -webkit-transform:  translate(300px,0px)  skewX(-30deg) ;
    }
    60% {
        opacity:1;
        -webkit-transform:  translate(-40px,0px)  skewX(30deg) ;
    }
    80% {
        opacity:1;
        -webkit-transform:  translate(0px,0px)  skewX(-15deg) ;
    }
    100% {
        opacity:1;
        -webkit-transform:  translate(0px,0px)  skewX(0deg) ;
    }
}

@-o-keyframes lightSpeedIn {
    0% {
        opacity:0;
        -o-transform:  translate(300px,0px)  skewX(-30deg) ;
    }
    60% {
        opacity:1;
        -o-transform:  translate(-40px,0px)  skewX(30deg) ;
    }
    80% {
        opacity:1;
        -o-transform:  translate(0px,0px)  skewX(-15deg) ;
    }
    100% {
        opacity:1;
        -o-transform:  translate(0px,0px)  skewX(0deg) ;
    }
}

@-ms-keyframes lightSpeedIn {
    0% {
        opacity:0;
        -ms-transform:  translate(300px,0px)  skewX(-30deg) ;
    }
    60% {
        opacity:1;
        -ms-transform:  translate(-40px,0px)  skewX(30deg) ;
    }
    80% {
        opacity:1;
        -ms-transform:  translate(0px,0px)  skewX(-15deg) ;
    }
    100% {
        opacity:1;
        -ms-transform:  translate(0px,0px)  skewX(0deg) ;
    }
}

.entry-img{
    height: 30px;
}

.grab{
    cursor: grab;
}